################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/frontend/.vs/SmartDisplay.Frontend.slnx
/frontend/SmartDisplay.ConrolPanelClient/bin/Debug/net10.0
/frontend/SmartDisplay.ConrolPanelClient/obj
