################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/frontend/.vs/SmartDisplay.Frontend.slnx
/frontend/.vs
/frontend/SmartDisplay.ControlPanelClient/bin/Debug/net10.0
/frontend/SmartDisplay.ControlPanelClient/obj
/frontend/SmartDisplay.Shared/obj
/frontend/SmartDisplay.Shared/bin/Debug/net10.0
/frontend/SmartDisplay.ScreenClient/obj
