UJIN_TOKEN=my-token
UJIN_BASE_URL=my-url

SECRET_KEY=change-me-to-a-secure-random-string-in-production
ACCESS_TOKEN_EXPIRE=86400

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

DATABASE_URL=sqlite+aiosqlite:////app/data/orion.db
