UJIN_TOKEN=ust-2815002-e96be03bee8e61dd8645799858a10cb3
UJIN_BASE_URL=https://hck-api.unicorn.icu

SECRET_KEY=change-me-to-a-secure-random-string-in-production
ACCESS_TOKEN_EXPIRE=86400

ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123

DATABASE_URL=sqlite+aiosqlite:////app/data/orion.db
